.swiper {
  width: 100%;
  min-height: 100vh;
  background-color: #ebe8e8;
  color: rgb(0, 0, 0);
  z-index: 0;
}
.container-about{
    background-color: rgb(64, 54, 54);
    min-height: 100vh;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-align: center;
  background: #ebe8e8;
  /* Flex container for centering the content */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.swiper-wrapper{
    margin-top: 105px;
}
.slider-contenu img {
   /* Adjust based on your needs */
  width: 80%;
  max-height: 40vh;
  border-radius: 8px; /* Optional: for rounded corners */
  object-fit: cover;
  margin:  auto;
}

/* Styling for the slide's content */
.slider-contenu {
  max-width: 80%;
  margin: 25px auto;
  padding: 25px;
  height: 100%;
}

/* Adjust the size and color of pagination, navigation buttons, and scrollbar here */
.swiper-pagination-bullet {
  background: #ff0000;
  opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
  color: #ff0000;
}

.swiper-scrollbar {
  background: rgba(0, 0, 0, 0.1);
}

.swiper-scrollbar-drag {
  background: #ff0000;
}