/* cTechnique.css */
.container-ctechnique {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    color: #333; /* Dark grey for text */
}

h1 {
     /* Red */
    text-align: center;
    margin-bottom: 20px;
}

section {
    background-color: #f5f5f5; /* Light grey */
    border-left: 4px solid #D32F2F; /* Red */
    padding: 20px;
    margin-bottom: 20px;
}

h2 {
    color: #D32F2F; /* Red */
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
    margin-bottom: 10px;
    font-size: 1.3rem;
}
.animated-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
  
  /* État après le déclenchement de l'animation */
  .animated-section.visible {
    opacity: 1;
    transform: translateY(0);
  }
