footer {
    background-color: #333; /* Couleur de fond du footer */
    color: #fff; /* Couleur du texte */
    font-size: 0.9rem; /* Taille de police générale */
    min-height: 55vh;
}

.footer-content {
    display: flex;
    justify-content: space-around; /* Répartit uniformément les colonnes */
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne sur les petits écrans */
    margin-bottom: 20px; /* Espace avant les crédits */
    align-items: center;
    min-height: 50vh;
}

.footer-content__contact,
.footer-content__hours,
.footer-content__links {
    flex: 1;
    width: 30%; /* Assure une largeur minimale pour chaque colonne */
    margin: 30px; /* Espacement autour des colonnes */
    min-height: 45vh;
    display: flex;
    align-items:center;
    
}
.infos-cont{
    margin:  auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 50px;
}
.footer-content h3 {
    margin-bottom: 15px; /* Espace sous les titres */
    color: #f2f2f2; /* Couleur des titres */
}

.footer-content p,
.footer-content a {
    margin-bottom: 10px; /* Espacement entre les paragraphes/liens */
    color: #bbb; /* Couleur légèrement plus claire pour le texte et les liens */
    text-decoration: none; /* Supprime le soulignement des liens */
}

.footer-content a:hover {
    color: #fff; /* Couleur des liens au survol */
}

.footer-credits {
    text-align: center;
    color: #aaa; /* Couleur plus discrète pour les crédits */
    padding-top: 10px; /* Espace au-dessus des crédits */
    border-top: 1px solid #444; /* Ligne de séparation */
}

.status-icon {
    margin-right: 5px; /* Espacement avant le texte des icônes */
}
.footer-content__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    min-width: 220px; /* Assure une largeur minimale pour la colonne des liens */ /* Bords arrondis pour l'esthétique */
    font-size: 1rem;
    margin: 10px;
    border-left:1px solid #ffffff;
    border-right:1px solid #ffffff;
}
.link-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.footer-title {
    color: #FFF; /* Couleur du titre pour contraste */
    margin-bottom: 30px; /* Espace sous le titre */
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4rem;
}

.footer-content__links ul {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-around;
    list-style: none; /* Supprime les puces */
    padding: 0; /* Supprime le padding par défaut */
    margin: auto; /* Supprime la marge par défaut */

}

.footer-content__links li {
    text-align: center;
}

.footer-content__links li a {
    color: #CCC; /* Couleur des liens */
    text-decoration: none; /* Supprime le soulignement */
    transition: color 0.3s ease; /* Transition pour le survol */
}

.footer-content__links li a:hover {
    color: #FFF; /* Couleur au survol */
}
.footer-content__contact{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    align-items: center;
}
.footer-content__contact a{
    color: #fff;
    text-decoration: none;
}
.footer-content__contact a:hover{
    color: #f2f2f2;
}
.footer-content__hours{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    
}
.footer-content__hours p{
    margin: 0;
}
.footer-content__hours .horaires{
    color: #d5d3d3;
    padding: 0;
}
.schedule-list{
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
/* Adaptations pour petits écrans */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-content__contact,
    .footer-content__hours,
    .footer-content__presentation {
        min-width: 100%; /* Les colonnes prennent toute la largeur */
        margin: 10px 0; /* Espacement ajusté pour la disposition verticale */
    }
    .footer-content__links{
        padding-top: 15px;
        width: 80%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: none;
        border-top: 1px solid #ffffff;
        border-bottom: 1px solid #ffffff;
    }

}
