.container-leasing {
  padding: 20px;
  animation: colors var(--sp) linear 0s infinite;
}


.partners-flex {
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  gap: 0.5px;
  margin: 30px auto;
}

.partner {
  width: 25vh;
  height: 25vh;
  background-color: #ffffff9e; /* Background for contrast */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions for interaction */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid rgb(192, 192, 192);
}
.leasing-title {
  color: #900a0a; /* Use site’s accent color */
  font-size: 1.7rem;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}
.leasing-title-partner{
  color: #900a0a; /* Use site’s accent color */
  font-size: 1.4rem;
  text-transform: uppercase;
  border-bottom: 2px solid #900a0a;
  width: 25%;
  z-index: 3;
}
.cont-title{
  position: relative;
  width: 65%;
  margin: 0 auto;
  margin-bottom: 45px;
  z-index: -1;
}
/* After title to complete the border of leasing-title-hover the whole div  */

.official-partner {
  margin-bottom: 40px; /* Space between official and other partners */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: transparent; /* Adjust based on preference */
}
.official-partner .partner {
  border: 2px solid #900a0a; /* Highlight official partner with a border */
}
.partner-official img {
  width: 60%; /* Larger logo for the official partner */
  margin: 0 auto 20px; /* Centering the logo */
  transition: transform 0.3s ease;
}
.partner-official{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.42); /* Adds subtle shadow */
  border-radius: 10px; /* Rounded corners for a modern look */
  padding: 20px;
  width: 25%;
  background-color: #ffffffa0; /* Background for contrast */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions for interaction */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.partner img {
  width: 50%;
  height: auto;
  transition: transform 0.2s;
}

/* Highlight official partner logo */
.official-partner .partner img {
  max-width: 50%; /* Larger logo for the official partner */
  margin: 0 auto 20px; /* Centering the logo */
  transition: transform 0.3s ease;
}

.official-partner .partner:hover img {
  transform: scale(1.05); /* Slight grow effect on hover */
}
.partner-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(187, 2, 2, 0.75); /* Semi-transparent black background */
  color: white; /* White text color */
  text-align: center; /* Center the text */
  padding: 10px 0; /* Some padding */
  opacity: 0; /* Start invisible */
  visibility: hidden; /* Hide it */
  transition: opacity 0.3s, visibility 0.3s; /* Animate visibility and opacity */
}
.partner-info a{
  color: white;
  text-decoration: none;

}
.partner:hover .partner-info {
  opacity: 1; /* Make it visible on hover */
  visibility: visible; /* Show it */
}
.partner-official:hover .partner-info {
  opacity: 1; /* Make it visible on hover */
  visibility: visible; /* Show it */
}
.partner:hover img {
  transform: scale(1.1);
}

.partner p {
  margin-top: 10px;
}

.official-partner p {
  color: #900a0a;
}
.partner:hover {
  transform: translateY(-5px); /* Slight raise effect on hover */
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0); /* Enhanced shadow on hover for depth */
}

@media (max-width: 768px) {
  .partner {
    width: 45%; /* Adjust for smaller screens */
  }
  .partner-official {
    width: 70%; /* Adjust for smaller screens */
  }
  .partner img {
    width: 60%; /* Adjust for smaller screens */
  }
  .official-partner img {
    width: 70%; /* Adjust for smaller screens */
    height: auto;
  }
  .partner-info{
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 480px) {
  .partner {
    width: 100%; /* Adjust for smallest screens */
    height: 35vh;
  }
  .partner-official {
    width: 100%; /* Adjust for smallest screens */
  }
  .partner img {
    width: 60%; /* Adjust for smallest screens */
  }
  .official-partner img {
    width: 100%; /* Adjust for smallest screens */
    height: auto;
  }
}