nav{
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    text-transform: uppercase;
    z-index: 1000;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 60%;
}
nav ul li{
    margin-right: 10px;
    padding: 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
nav ul li a:hover{
    color: rgb(249, 5, 5);
}
.buttons{
    background-color: #333;
}
.buttons button{
    background-color: #333;
    color: rgb(249, 5, 5);
    border: none;
    cursor: pointer;
    font-size: 1rem;  
}
/* Submenu initially hidden */
.submenu {
    display: none; /* Initially hidden */
    position: absolute;
    background-color: #333;
    width: 10%;
    z-index: 1;
    padding: 20px;
    transition: opacity 0.3s ease; /* Add transition property */
    opacity: 0; /* Initially fully transparent */
  }
  .submenu.visible {
    display: block;
    opacity: 1; /* Make it fully opaque when visible */
  }
  
  /* Keep the rest of your existing CSS */
  
/* Navbar.css */

/* Submenu arrow for "Services" menu item */
nav ul > li span::after {
    content: ' ▼'; /* Unicode character for downward arrow */
    margin-left: 5px; /* Adjust spacing */
  }

  nav ul > li span{
    cursor: pointer;
  }
  /* Hide arrow for items in the submenu */
  
/* Submenu visible on hover */
nav ul li:hover .submenu{
    display: block;
}
.submenu ul{
    display: flex;
    flex-direction: column;
}
.submenu ul li{
    margin-right: 0;
}
.submenu ul li a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

@media (max-width:1200px){
    nav ul li{
        font-size: 0.9rem;
    }
    nav ul{
        width: 55%;
    }
    .buttons button{
        font-size: 0.9rem;
    }
    .buttons{
        left: 93%;
    }
}